@page "/"

<div class="row my-4">
    <div class="col">
        <button class="w-100 btn @(TextForm ? "btn-success" : "btn-outline-success")" type="button" @onclick="()=>TextForm = true">Text</button>
    </div>
    <div class="col">
        <button class="w-100 btn @(TextForm ? "btn-outline-info" : "btn-info")" type="button" @onclick="()=>TextForm = false">Files</button>
    </div>
</div>

@if(TextForm)
{
    <textarea row="2" placeholder="Text to share" class="form-control font-monospace mb-2" @bind=Text></textarea>
}
else
{
    var isUploading = UploadProgress > -1;
    var progressClass = isUploading ? "" : "d-none";
    var inputClass = isUploading ? "d-none" : "d-block";
    inputClass += " mb-2 form-control form-control-lg";

    <div class="progress mb-2 @progressClass" style="height: 40px;">
        <div class="progress-bar" role="progressbar" style="width: @UploadProgress.ToString()%;">@UploadProgress %</div>
    </div>
    <button type=button class="btn btn-danger w-100 mb-2 @progressClass" @onclick=CancelUpload>Cancel</button>
    <InputFile class=@inputClass OnChange=FileSelected />
}

<div class="input-group mb-3">
        <button type="button" class="btn btn-outline-success" @onclick="()=>Post(TimeSpan.FromMinutes(1))">15 min</button>
        <button type="button" class="btn btn-outline-warning" @onclick="()=>Post(TimeSpan.FromHours(1))">1 hr</button>
        <button type="button" class="btn btn-outline-danger" @onclick="()=>Post(TimeSpan.FromDays(1))">1 day</button>
    <input type=password placeholder="Shared secret" @bind=Secret class="form-control">
    <button class="btn btn-primary" @onclick=StateHasChanged>Refresh</button>
</div>

@if(TextForm)
{
    for (int i = Database.Texts - 1; i >= 0 ; i--)
    {
        var text = Database.Texts.ElementAt(i);
        if(string.IsNullOrWhiteSpace(text.Value.Secret) || text.Value.Secret.Equals(Secret, StringComparison.InvariantCultureIgnoreCase))
        {
            <div class="card bg-light mb-2">
                <div class="bd-clipboard">
                    <button type="button" class="btn btn-clipboard btn-sm btn-outline-primary">Copy</button>
                </div>
                <code class="p-3 text-body">
                    <pre>@text.Value.Value</pre>
                </code>
            </div>
        }
    }
}
else
{
    @foreach (var file in Database.Files.Where(f => f.Value.Secret == Secret))
    {
        <div class="card bg-light mb-2">
            <div class="bd-clipboard">
                <button type="button" class="btn btn-clipboard btn-sm btn-outline-primary">Copy</button>
            </div>
            <code>
                <pre>@file.Value.Value</pre>
            </code>
        </div>
    }
}